.MainLeft_DC {
  width: 600px;
  flex-flow: column;
  justify-content: space-between;

  //1. 스토리 부분
  .story {
    width: 600px;
    height: 100px;
    overflow-y: hidden;
    border: 1px solid #e9ecef;
    background-color: white;

    &::-webkit-scrollbar {
      display: none;
    }

    .story-list-container {
      width: 800px;
      height: 80px;
      margin: 10px auto;
      display: flex;
      align-items: center;
      border: 1px e9ecef solid;
      background-color: linear-gradient(to right, yellow, red, purple, blue);
    }

    .story-profile-container {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      overflow: hidden;
      background: linear-gradient(to right, yellow, red);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 10px;
    }

    .story-profile-img {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid white;
        object-fit: cover;
      }
    }
  }

  //2. 게시판 부분
  .feed {
    height: 841px;
    margin-top: 50px;
    border: 1px solid #e9ecef;
    background-color: white;

    .nav {
      /*border: 1px solid black;*/
      width: 100%;
      height: 65px; /*8%*/
      display: flex;
      justify-content: space-between;
      background-color: white;

      .nav-left {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

        .nav-profile {
          width: 40px;
          height: 40px;
          border-radius: 70%;
          overflow: hidden;
          margin: 0px 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .nav-profile-p {
          margin: 0px 8px;
          font-weight: bolder;
        }
      }

      .nav-right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    .feed-main {
      width: 100%;
      height: 580px;
      display: flex;
      justify-content: center;

      img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 570px;
      }
    }

    .footer {
      width: 600px;
      height: 190px;

      .footer-nav {
        height: 35px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;

        .footer-nav-left {
          width: 40%;
          display: flex;
          align-items: center;

          img {
            width: 10%;
            margin-left: 10px;
          }

          #feed-heart-value {
            visibility: hidden;
            width: 0px;
          }
        }

        .footer-nav-right {
          width: 40%;
          display: flex;
          align-items: center;

          img {
            margin-left: 80%;
            width: 10%;
          }
        }
      }

      .like {
        padding-left: 5px;
        height: 30px;
        width: 600px;
        display: flex;

        .like-profile {
          width: 30px;
          height: 30px;
          border-radius: 70%;
          overflow: hidden;
          display: flex;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .like-comment-container {
          display: flex;
          align-items: center;
          width: 300px;
          height: 26px;
          padding-left: 10px;

          .span-border {
            font-weight: bolder;
            font-size: 13px;
            padding-bottom: 0;
            margin-top: 0;
          }
          .span-normal {
            font-size: 13px;
          }
        }
      }

      //2-1. 댓글 부분
      .reply {
        padding-left: 5px;
        position: relative;
        height: 120px;
        width: 99%;

        ul {
          padding: 10px 0px 0px 5px;
          margin-top: 0;
          margin-bottom: 0;
          list-style: none;

          li {
            padding: 0;
            margin: 0;
            line-height: 100%;

            .span-border {
              font-weight: bolder;
              font-size: 13px;
              padding-bottom: 0;
              margin-top: 0;
            }

            .span-normal {
              padding-left: 5px;
              font-size: 13px;
            }
            .span-more {
              font-size: 10px;
              color: #005766;
              padding-left: 5px;
            }
          }
        }

        .reply-input-container {
          height: 34px;
          width: 100%;
          margin-top: 30px;
          position: relative;
          display: flex;

          input {
            width: 90%;
            height: 100%;
            border-right: 0px;
            border-left: 1px solid #e9ecef;
            border-bottom: 1px solid #e9ecef;
            border-top: 1px solid #e9ecef;
          }

          button {
            width: 58px;
            height: 34px;
            border-right: 1px solid #e9ecef;
            border-left: 1px solid #e9ecef;
            border-bottom: 1px solid #e9ecef;
            border-top: 1px solid #e9ecef;
            background: white;
            color: #4b89dc;
            &:hover {
              cursor: pointer;
              color: #e9ecef;
            }
          }
        }
      }
    }
  }
}
