.uploadBox {
    border: 1px solid #DBDBDB;
    margin-bottom: 60px;
    border-radius: 3px;

    .uploadHeaderBox {
        height: 60px;
        padding: 16px;
        display: flex;
        align-items: center;
        position: relative;
        font-size: 14px;
        font-weight: bold;

        .gradationMini {
            width: 42px;
            height: 42px;
            background: radial-gradient(66px, skyblue, orange);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;

            .UHBprofile {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                border:2px solid white;
            }
        }

        .UHBdot {
            width: 25px;
            position: absolute;
            right: 15px;
        }
    }
    
    .uploadPictureBox img {
        width: 614px;
        max-height: 614px;
    }
    
    .pictureIconBox {
        height: 40px;
        margin: 4px 16px 0;
        position: relative;

        img {
            width: 25px;
            margin: 4px;
        }
        
        .iconLeft {
            position: absolute;
            right: 0;
        }
    }
    
    .likeBox {
        height: 18;
        margin: 0 0 8px;
        padding: 0 16px;
        display: flex;
        font-size: 14px;

        img {
            width: 20px;
            border-radius: 50%;
            margin-right: 7px;
        }
    }
      
    .commnetTimeBox {
        margin: 6px 16px 0;
        font-size: 10px;
        color: #8E8E8E;
    }
    
    .commentInputBox {
        height: 56px;
        margin: 9px 0 0;
        padding: 0 15px;
        border-top: 1px solid #DBDBDB;
        display: flex;
        align-items: center;
        position: relative;

        .commentInput {
            width: 100%;
            height: 19px;
            border: none;
            outline: none;
            background-color: #FAFAFA;
        }
        
        .btn {
            position: absolute;
            right: 15px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #FAFAFA;
        }

        .blue {
            color: blue;
        }

        .skyblue {
            color: skyblue;
        }
    }
}