* {
    box-sizing: border-box;
    
    body{
        background-color: #FAFAFA;
        margin :0px;

        .mainBox {
            width: 935px;
            margin: 0 auto;
            padding: 85px 0 0;
            display: flex;
        }
    }
}





