.Main_J {
  .main-contents {
    display: flex;
    justify-content: center;
    width: 935px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 920px) {
  .main-right {
    visibility: hidden;
  }
}