$border-line: 1px solid #dbdbdb;

.Nav_KSY {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  border-bottom: $border-line;
  background-color: #ffffff;
  z-index: 1;

  .nav {
    width: 935px;
    min-width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 150px;
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;

      .insta-logo {
        width: 100px;
        height: 30px;
        cursor: pointer;
      }
    }

    .search-bar {
      display: flex;
      justify-content: center;
      flex: 1;

      .search-box {
        position: relative;

        .icon:not(:last-child) {
          font-size: 12px;
          color: rgb(201, 194, 194);
        }

        input {
          width: 215px;
          height: 30px;
          padding: 0 25px;
          border: $border-line;
          border-radius: 3px;
          background-color: #fafafa;
          text-align: center;
          outline: none;

          &::placeholder {
            color: rgba(172, 164, 164, 0.938);
          }

          &:focus {
            text-align: start;
          }

          &:focus ~ .searchIcon-center {
            visibility: hidden;
          }

          &:focus ~ .searchIcon-focus,
          &:focus ~ .searchIcon-cancel {
            visibility: visible;
          }
        }

        .searchIcon-center {
          position: absolute;
          top: 8px;
          left: 78px;
        }

        .searchIcon-focus {
          position: absolute;
          left: 8px;
          top: 8px;
          visibility: hidden;
        }

        .searchIcon-cancel {
          position: absolute;
          right: 8px;
          top: 7px;
          color: #c7c7c7;
          cursor: pointer;
          visibility: hidden;
        }
      }
    }

    .icons {
      flex: 1;

      ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;

        li:not(:first-child) {
          margin-left: 22px;
        }

        .user__img {
          width: 22px;
          height: 22px;
          border-radius: 50%;
        }

        svg {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}
