.Login_DC {
  background-color: #f8f9fa;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 600px;
    height: 700px;
    border: solid 1px #dedede;
    border-radius: 1.25%;
    background-color: white;
  }

  .container-top {
    margin-top: 30px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 350px;
    }
  }

  .container-center {
    margin-top: 30px;
    height: 300px;
    /*border: solid 1px black;*/
    display: inline-block;
    padding-left: 15%;
  }

  input {
    width: 400px;
    height: 50px;
    margin-top: 20px;
    font-size: 18px;
    background-color: #f8f9fa;
    border: solid 1px #dedede;
    font-size: 20px;
    color: blue;

    &:focus {
      outline: none;
    }
  }

  button {
    width: 405px;
    height: 50px;
    margin-top: 40px;
    border: 0.5px solid skyblue;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background-color: skyblue;

    &:hover {
      background-color: purple;
    }

    &:focus {
      outline: none;
    }
  }

  .container-footer {
    margin-top: 30px;
    height: 50px;

    p {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      color: skyblue;

      &:hover {
        cursor: pointer;
        color: purple;
      }
    }
  }
}
