.Main_DC {
  height: 1400px;
  width: 100%;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;

  .div-center {
    height: 1000px;
    width: 1200px;
    display: flex;
    justify-content: center;
  }
}
