.FeedNav {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  background-color: white;

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .profile {
      width: 40px;
      height: 40px;
      border-radius: 70%;
      overflow: hidden;
      margin: 0px 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .profile-p {
      margin: 0px 8px;
      font-weight: bolder;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
